<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goktech.olala.server.dao.order.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.goktech.olala.server.pojo.order.OrderDetail">
    <id column="ORDER_DETAIL_ID" jdbcType="INTEGER" property="orderDetailId" />
    <result column="ORDER_ID" jdbcType="INTEGER" property="orderId" />
    <result column="GOODS_ID" jdbcType="VARCHAR" property="goodsId" />
    <result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName" />
    <result column="GOODS_CNT" jdbcType="INTEGER" property="goodsCnt" />
    <result column="GOODS_PRICE" jdbcType="INTEGER" property="goodsPrice" />
    <result column="AVERAGE_COST" jdbcType="INTEGER" property="averageCost" />
    <result column="WEIGHT" jdbcType="REAL" property="weight" />
    <result column="DISTRICT_MONEY" jdbcType="INTEGER" property="districtMoney" />
    <result column="WHID" jdbcType="INTEGER" property="whid" />
    <result column="MODIFIED_TIME" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from o_order_detail
    where ORDER_DETAIL_ID = #{orderDetailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goktech.olala.server.pojo.order.OrderDetail">
    insert into o_order_detail (ORDER_DETAIL_ID, ORDER_ID, GOODS_ID, 
      GOODS_NAME, GOODS_CNT, GOODS_PRICE, 
      AVERAGE_COST, WEIGHT, DISTRICT_MONEY, 
      WHID, MODIFIED_TIME)
    values (#{orderDetailId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{goodsId,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsCnt,jdbcType=INTEGER}, #{goodsPrice,jdbcType=INTEGER}, 
      #{averageCost,jdbcType=INTEGER}, #{weight,jdbcType=REAL}, #{districtMoney,jdbcType=INTEGER}, 
      #{whid,jdbcType=INTEGER}, #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.goktech.olala.server.pojo.order.OrderDetail">
    update o_order_detail
    set ORDER_ID = #{orderId,jdbcType=INTEGER},
      GOODS_ID = #{goodsId,jdbcType=VARCHAR},
      GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      GOODS_CNT = #{goodsCnt,jdbcType=INTEGER},
      GOODS_PRICE = #{goodsPrice,jdbcType=INTEGER},
      AVERAGE_COST = #{averageCost,jdbcType=INTEGER},
      WEIGHT = #{weight,jdbcType=REAL},
      DISTRICT_MONEY = #{districtMoney,jdbcType=INTEGER},
      WHID = #{whid,jdbcType=INTEGER},
      MODIFIED_TIME = #{modifiedTime,jdbcType=TIMESTAMP}
    where ORDER_DETAIL_ID = #{orderDetailId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ORDER_DETAIL_ID, ORDER_ID, GOODS_ID, GOODS_NAME, GOODS_CNT, GOODS_PRICE, AVERAGE_COST, 
    WEIGHT, DISTRICT_MONEY, WHID, MODIFIED_TIME
    from o_order_detail
    where ORDER_DETAIL_ID = #{orderDetailId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ORDER_DETAIL_ID, ORDER_ID, GOODS_ID, GOODS_NAME, GOODS_CNT, GOODS_PRICE, AVERAGE_COST, 
    WEIGHT, DISTRICT_MONEY, WHID, MODIFIED_TIME
    from o_order_detail
  </select>
</mapper>