<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goktech.olala.server.dao.goods.GoodsPictureMapper">
  <resultMap id="BaseResultMap" type="com.goktech.olala.server.pojo.goods.GoodsPicture">
    <id column="PICTURE_ID" jdbcType="BIGINT" property="pictureId" />
    <result column="GOODS_ID" jdbcType="VARCHAR" property="goodsId" />
    <result column="BUSINESS_ID" jdbcType="VARCHAR" property="businessId" />
    <result column="THUMB_IMG" jdbcType="VARCHAR" property="thumbImg" />
    <result column="REAL_IMG" jdbcType="VARCHAR" property="realImg" />
    <result column="ORIGINAL_IMG" jdbcType="VARCHAR" property="originalImg" />
    <result column="LINK_URL" jdbcType="VARCHAR" property="linkUrl" />
    <result column="WIDTH" jdbcType="VARCHAR" property="width" />
    <result column="HEIGHT" jdbcType="VARCHAR" property="height" />
    <result column="SORT_ORL" jdbcType="INTEGER" property="sortOrl" />
    <result column="STATUS" jdbcType="BIT" property="status" />
    <result column="IS_MASTER" jdbcType="BIT" property="isMaster" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="PIC_DESC" jdbcType="LONGVARCHAR" property="picDesc" />
  </resultMap>
  <sql id="all_column">
    PICTURE_ID, GOODS_ID, BUSINESS_ID, THUMB_IMG, REAL_IMG, ORIGINAL_IMG, LINK_URL,
    WIDTH, HEIGHT, SORT_ORL, STATUS, IS_MASTER, CREATE_TIME, CREATE_BY, UPDATE_TIME,
    UPDATE_BY, PIC_DESC
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from g_picture
    where PICTURE_ID = #{pictureId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.goktech.olala.server.pojo.goods.GoodsPicture">
    insert into g_picture (PICTURE_ID, GOODS_ID, BUSINESS_ID, 
      THUMB_IMG, REAL_IMG, ORIGINAL_IMG, 
      LINK_URL, WIDTH, HEIGHT, 
      SORT_ORL, STATUS, IS_MASTER, 
      CREATE_TIME, CREATE_BY, UPDATE_TIME, 
      UPDATE_BY, PIC_DESC)
    values (#{pictureId,jdbcType=BIGINT}, #{goodsId,jdbcType=VARCHAR}, #{businessId,jdbcType=VARCHAR}, 
      #{thumbImg,jdbcType=VARCHAR}, #{realImg,jdbcType=VARCHAR}, #{originalImg,jdbcType=VARCHAR}, 
      #{linkUrl,jdbcType=VARCHAR}, #{width,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR}, 
      #{sortOrl,jdbcType=INTEGER}, #{status,jdbcType=BIT}, #{isMaster,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{picDesc,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.goktech.olala.server.pojo.goods.GoodsPicture">
    update g_picture
    set GOODS_ID = #{goodsId,jdbcType=VARCHAR},
      BUSINESS_ID = #{businessId,jdbcType=VARCHAR},
      THUMB_IMG = #{thumbImg,jdbcType=VARCHAR},
      REAL_IMG = #{realImg,jdbcType=VARCHAR},
      ORIGINAL_IMG = #{originalImg,jdbcType=VARCHAR},
      LINK_URL = #{linkUrl,jdbcType=VARCHAR},
      WIDTH = #{width,jdbcType=VARCHAR},
      HEIGHT = #{height,jdbcType=VARCHAR},
      SORT_ORL = #{sortOrl,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=BIT},
      IS_MASTER = #{isMaster,jdbcType=BIT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      PIC_DESC = #{picDesc,jdbcType=LONGVARCHAR}
    where PICTURE_ID = #{pictureId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="all_column"/>
    from g_picture
    where PICTURE_ID = #{pictureId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="all_column"></include>
    from g_picture
  </select>
  <select id="selectByGoodsId" resultMap="BaseResultMap" parameterType="String">
    select
    <include refid="all_column"></include>
    from g_picture
    where GOODS_ID = #{goodsId,jdbcType=VARCHAR}
  </select>
</mapper>