<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goktech.olala.server.dao.goods.GoodsParamMapper">
  <resultMap id="BaseResultMap" type="com.goktech.olala.server.pojo.goods.GoodsParam">
    <result column="GOODS_ID" jdbcType="VARCHAR" property="goodsId" />
    <result column="BRAND_ID" jdbcType="SMALLINT" property="brandId" />
    <result column="FOOD_TASTE" jdbcType="VARCHAR" property="foodTaste" />
    <result column="WEIGHT" jdbcType="REAL" property="weight" />
    <result column="LENGTH" jdbcType="REAL" property="length" />
    <result column="SIZE" jdbcType="VARCHAR" property="size" />
    <result column="COLOR" jdbcType="VARCHAR" property="color" />
    <result column="PACKAGES" jdbcType="VARCHAR" property="packages" />
    <result column="STORAGE_TYPE" jdbcType="VARCHAR" property="storageType" />
    <result column="SOURCE_ADDR" jdbcType="VARCHAR" property="sourceAddr" />
    <result column="PRODUCE_ADDR" jdbcType="VARCHAR" property="produceAddr" />
    <result column="INGREDIENTS" jdbcType="VARCHAR" property="ingredients" />
    <result column="SPECS" jdbcType="VARCHAR" property="specs" />
    <result column="PRO_STANDARD" jdbcType="VARCHAR" property="proStandard" />
    <result column="PRO_LICENSE_NO" jdbcType="VARCHAR" property="proLicenseNo" />
    <result column="EAT_METHOD" jdbcType="VARCHAR" property="eatMethod" />
    <result column="CLICK_COUNT" jdbcType="INTEGER" property="clickCount" />
    <result column="IS_ALONESALE" jdbcType="BIT" property="isAlonesale" />
    <result column="INTEGRAL" jdbcType="INTEGER" property="integral" />
    <result column="IS_DELETE" jdbcType="BIT" property="isDelete" />
    <result column="IS_BEST" jdbcType="BIT" property="isBest" />
    <result column="IS_NEW" jdbcType="BIT" property="isNew" />
    <result column="IS_HOT" jdbcType="BIT" property="isHot" />
    <result column="IS_PROMOTE" jdbcType="BIT" property="isPromote" />
    <result column="BONUS_TYPE_ID" jdbcType="INTEGER" property="bonusTypeId" />
    <result column="SELLER_NOTE" jdbcType="VARCHAR" property="sellerNote" />
    <result column="GIVE_INTEGRAL" jdbcType="INTEGER" property="giveIntegral" />
  </resultMap>
  <insert id="insert" parameterType="com.goktech.olala.server.pojo.goods.GoodsParam">
    insert into g_goods_param (GOODS_ID, BRAND_ID, FOOD_TASTE, 
      WEIGHT, LENGTH, SIZE, COLOR, 
      PACKAGES, STORAGE_TYPE, SOURCE_ADDR, 
      PRODUCE_ADDR, INGREDIENTS, SPECS, 
      PRO_STANDARD, PRO_LICENSE_NO, EAT_METHOD, 
      CLICK_COUNT, IS_ALONESALE, INTEGRAL, 
      IS_DELETE, IS_BEST, IS_NEW, IS_HOT, 
      IS_PROMOTE, BONUS_TYPE_ID, SELLER_NOTE, 
      GIVE_INTEGRAL)
    values (#{goodsId,jdbcType=VARCHAR}, #{brandId,jdbcType=SMALLINT}, #{foodTaste,jdbcType=VARCHAR}, 
      #{weight,jdbcType=REAL}, #{length,jdbcType=REAL}, #{size,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, 
      #{packages,jdbcType=VARCHAR}, #{storageType,jdbcType=VARCHAR}, #{sourceAddr,jdbcType=VARCHAR}, 
      #{produceAddr,jdbcType=VARCHAR}, #{ingredients,jdbcType=VARCHAR}, #{specs,jdbcType=VARCHAR}, 
      #{proStandard,jdbcType=VARCHAR}, #{proLicenseNo,jdbcType=VARCHAR}, #{eatMethod,jdbcType=VARCHAR}, 
      #{clickCount,jdbcType=INTEGER}, #{isAlonesale,jdbcType=BIT}, #{integral,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=BIT}, #{isBest,jdbcType=BIT}, #{isNew,jdbcType=BIT}, #{isHot,jdbcType=BIT}, 
      #{isPromote,jdbcType=BIT}, #{bonusTypeId,jdbcType=INTEGER}, #{sellerNote,jdbcType=VARCHAR}, 
      #{giveIntegral,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select GOODS_ID, BRAND_ID, FOOD_TASTE, WEIGHT, LENGTH, SIZE, COLOR, PACKAGES, STORAGE_TYPE, 
    SOURCE_ADDR, PRODUCE_ADDR, INGREDIENTS, SPECS, PRO_STANDARD, PRO_LICENSE_NO, EAT_METHOD, 
    CLICK_COUNT, IS_ALONESALE, INTEGRAL, IS_DELETE, IS_BEST, IS_NEW, IS_HOT, IS_PROMOTE, 
    BONUS_TYPE_ID, SELLER_NOTE, GIVE_INTEGRAL
    from g_goods_param
  </select>
</mapper>